[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
mido = "*"
python-rtmidi = "*"
jupyter = "*"

[packages]

[requires]
python_version = "3.7"
